# Loading data

In [84]:
import pandas as pd

df = pd.read_csv('top_movies.csv') # read csv file

First review to the DataFrame

In [85]:
df.shape

(1950, 11)

Standarize the column's names.

In [121]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df = df.rename(columns={'moive_name': 'title'})

In [119]:
df = df.dropna(subset=['cast', 'director'])

In [122]:
df.sample(5)

,unnamed:_0,title,rating,votes,meta_score,genre,pg_rating,year,duration,cast,director
562,562,The Outlaw Josey Wales,7.8,79000.0,69.0,Western,PG,1976,2h 15m,"Clint Eastwood, Sondra Locke, Chief Dan George...",Clint Eastwood
511,511,American History X,8.5,1200000.0,62.0,"Crime, Drama",R,1998,1h 59m,"Edward Norton, Edward Furlong, Beverly D'Angel...",Tony Kaye
316,316,Casino Royale,8.0,685000.0,80.0,"Action, Adventure, Thriller",PG-13,2006,2h 24m,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",Martin Campbell
965,965,School of Rock,7.2,324000.0,82.0,"Comedy, Music",PG-13,2003,1h 49m,"Jack Black, Mike White, Joan Cusack, Adam Pascal",Richard Linklater
971,971,Malignant,6.2,105000.0,51.0,"Crime, Horror, Mystery",R,2021,1h 51m,"Annabelle Wallis, Maddie Hasson, George Young,...",James Wan

In [123]:
df = df.drop(columns = ['unnamed:_0', 'votes', 'pg_rating', 'duration'])

In [124]:
df.sample(10)

,title,rating,meta_score,genre,year,cast,director
601,Zack Snyder's Justice League,7.9,54.0,"Action, Adventure, Fantasy",2021,"Henry Cavill, Ben Affleck, Gal Gadot, Amy Adams",Zack Snyder
143,Once Upon a Time in Hollywood,7.6,83.0,"Comedy, Drama",2019,"Leonardo DiCaprio, Brad Pitt, Margot Robbie, E...",Quentin Tarantino
1079,Sinister,6.8,53.0,"Horror, Mystery, Thriller",2012,"Ethan Hawke, Juliet Rylance, James Ransone, Fr...",Scott Derrickson
1258,Borat,7.4,89.0,Comedy,2006,"Sacha Baron Cohen, Ken Davitian, Luenell, Chester",Larry Charles
509,The Lost City,6.1,60.0,"Action, Adventure, Comedy",2022,"Sandra Bullock, Channing Tatum, Daniel Radclif...",Aaron NeeAdam Nee
612,13 Going on 30,6.3,57.0,"Comedy, Fantasy, Romance",2004,"Jennifer Garner, Mark Ruffalo, Judy Greer, And...",Gary Winick
957,Legally Blonde,6.4,59.0,"Comedy, Romance",2001,"Reese Witherspoon, Luke Wilson, Selma Blair, M...",Robert Luketic
1276,Sicario: Day of the Soldado,7.1,61.0,"Action, Crime, Drama",2018,"Benicio Del Toro, Josh Brolin, Isabela Merced,...",Stefano Sollima
678,Beautiful Boy,7.4,62.0,"Biography, Drama",2018,"Steve Carell, Maura Tierney, Jack Dylan Grazer...",Felix van Groeningen
405,Boyz n the Hood,7.8,76.0,"Crime, Drama",1991,"Cuba Gooding Jr., Laurence Fishburne, Hudhail ...",John Singleton

In [126]:
# Convertir las columnas 'genre' y 'cast' en listas
df['genre'] = df['genre'].apply(lambda x: x.split(', '))
df['cast'] = df['cast'].apply(lambda x: x.split(', '))

,title,rating,meta_score,genre,year,cast,director
0,Leave the World Behind,6.5,67.0,"[Drama, Mystery, Thriller]",2023,"[Julia Roberts, Mahershala Ali, Ethan Hawke, M...",Sam Esmail
1,Wonka,7.4,66.0,"[Adventure, Comedy, Family]",2023,"[Timothée Chalamet, Gustave Die, Murray McArth...",Paul King
2,Poor Things,8.5,86.0,"[Comedy, Drama, Romance]",2023,"[Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy ...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,89.0,"[Crime, Drama, History]",2023,"[Leonardo DiCaprio, Robert De Niro, Lily Glads...",Martin Scorsese
4,May December,7.0,85.0,"[Comedy, Drama]",2023,"[Natalie Portman, Chris Tenzis, Charles Melton...",Todd Haynes

In [128]:
df.dtypes

title          object
rating        float64
meta_score    float64
genre          object
year            int64
cast           object
director       object
dtype: object

## DataFrame con los beneficios que han dado las películas

In [155]:
revenue_df = pd.read_csv('revenue_movies_dataset.csv') # read csv file

In [156]:
def clean_title(title):
    # Convertir a minúsculas
    title = title.lower()
    # Eliminar espacios en blanco al principio y al final
    title = title.strip()
    # Reemplazar caracteres especiales (opcional, depende de tus datos)
    title = title.replace("'", "")  # Eliminar apóstrofes
    title = title.replace(":", "")  # Eliminar dos puntos
    return title

# Aplicar la función de limpieza en ambas columnas 'title'
df['title'] = df['title'].apply(clean_title)
revenue_df['title'] = revenue_df['title'].apply(clean_title)

In [157]:
# Unir df original con el revenue_df
df_merged = pd.merge(df, revenue_df, on='title', how='inner')

# Ver los primeros resultados del DataFrame unido
df_merged.sample(10)

,title,rating,meta_score,genre,year,cast,director,revenue
182,godzilla vs. kong,6.3,59.0,"[Action, Sci-Fi, Thriller]",2021,"[Alexander Skarsgård, Millie Bobby Brown, Rebe...",Adam Wingard,470116094
1820,mr. nobody,7.7,63.0,"[Drama, Fantasy, Romance]",2009,"[Jared Leto, Sarah Polley, Diane Kruger, Linh-...",Jaco Van Dormael,2331721
43,wish,5.8,47.0,"[Animation, Adventure, Comedy]",2023,"[Ariana DeBose, Chris Pine, Alan Tudyk, Angeli...",Chris BuckFawn Veerasunthorn,0
1228,"i, tonya",7.5,77.0,"[Biography, Comedy, Drama]",2017,"[Margot Robbie, Sebastian Stan, Allison Janney...",Craig Gillespie,53939297
635,inside out,8.1,94.0,"[Animation, Adventure, Comedy]",2015,"[Amy Poehler, Bill Hader, Lewis Black, Mindy K...",Pete DocterRonnie Del Carmen,0
674,to catch a killer,6.6,43.0,"[Action, Crime, Drama]",2023,"[Shailene Woodley, Ben Mendelsohn, Jovan Adepo...",Damián Szifron,200221
512,indiana jones and the last crusade,8.2,65.0,"[Action, Adventure]",1989,"[Harrison Ford, Sean Connery, Alison Doody, De...",Steven Spielberg,474171806
1891,john carter,6.6,51.0,"[Action, Adventure, Sci-Fi]",2012,"[Taylor Kitsch, Lynn Collins, Willem Dafoe, Sa...",Andrew Stanton,284139100
1958,anna and the apocalypse,6.1,63.0,"[Comedy, Horror, Musical]",2017,"[Ella Hunt, Malcolm Cumming, Sarah Swire, Chri...",John McPhail,0
1195,the man who knew too much,7.4,76.0,"[Drama, Thriller]",1956,"[James Stewart, Doris Day, Brenda de Banzie, B...",Alfred Hitchcock,11300000

In [158]:
df_merged.to_csv('top_movies_cleaned.csv', index=False)