# Loading data

In [4]:
import pandas as pd

df = pd.read_csv('top_movies.csv') # read csv file

First review to the DataFrame

In [5]:
df.shape

(1950, 11)

Standarize the column's names.

In [6]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df = df.rename(columns={'moive_name': 'title'})

In [7]:
df = df.dropna(subset=['cast', 'director'])

In [8]:
df.sample(5)

,unnamed:_0,title,rating,votes,meta_score,genre,pg_rating,year,duration,cast,director
1845,1845,John Carter,6.6,283000.0,51.0,"Action, Adventure, Sci-Fi",PG-13,2012,2h 12m,"Taylor Kitsch, Lynn Collins, Willem Dafoe, Sam...",Andrew Stanton
221,221,The Lord of the Rings: The Return of the King,9.0,1900000.0,94.0,"Action, Adventure, Drama",PG-13,2003,3h 21m,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",Peter Jackson
1925,1925,The Theory of Everything,7.7,475000.0,71.0,"Biography, Drama, Romance",PG-13,2014,2h 3m,"Eddie Redmayne, Felicity Jones, Tom Prior, Sop...",James Marsh
1918,1918,Lucky Number Slevin,7.7,323000.0,53.0,"Crime, Drama, Thriller",R,2006,1h 50m,"Josh Hartnett, Ben Kingsley, Morgan Freeman, L...",Paul McGuigan
1490,1490,Super 8,7.0,365000.0,72.0,"Action, Mystery, Sci-Fi",PG-13,2011,1h 52m,"Elle Fanning, AJ Michalka, Kyle Chandler, Joel...",J.J. Abrams

In [9]:
df = df.drop(columns = ['unnamed:_0', 'votes', 'pg_rating', 'duration'])

In [10]:
df.sample(10)

,title,rating,meta_score,genre,year,cast,director
1033,Tangled,7.7,71.0,"Animation, Adventure, Comedy",2010,"Mandy Moore, Zachary Levi, Donna Murphy, Ron P...",Nathan GrenoByron Howard
1419,Falling Down,7.6,56.0,"Action, Crime, Drama",1993,"Michael Douglas, Robert Duvall, Barbara Hershe...",Joel Schumacher
1613,The Adjustment Bureau,7.0,60.0,"Crime, Mystery, Romance",2011,"Matt Damon, Emily Blunt, Lisa Thoreson, Floren...",George Nolfi
1192,The Bourne Identity,7.8,68.0,"Action, Mystery, Thriller",2002,"Franka Potente, Matt Damon, Chris Cooper, Cliv...",Doug Liman
978,Star Wars: Episode VIII - The Last Jedi,6.9,84.0,"Action, Adventure, Fantasy",2017,"Daisy Ridley, John Boyega, Mark Hamill, Carrie...",Rian Johnson
1803,Naked Lunch,6.9,67.0,Drama,1991,"Peter Weller, Judy Davis, Ian Holm, Julian Sands",David Cronenberg
949,For Your Eyes Only,6.7,54.0,"Action, Adventure, Thriller",1981,"Roger Moore, Carole Bouquet, Topol, Lynn-Holly...",John Glen
257,Twilight,5.3,56.0,"Drama, Fantasy, Romance",2008,"Kristen Stewart, Robert Pattinson, Billy Burke...",Catherine Hardwicke
626,Jennifer's Body,5.5,47.0,"Comedy, Horror",2009,"Megan Fox, Amanda Seyfried, Adam Brody, Johnny...",Karyn Kusama
1932,The Bodyguard,6.3,39.0,"Action, Drama, Music",1992,"Kevin Costner, Whitney Houston, Gary Kemp, Bil...",Mick Jackson

In [11]:
# Convertir las columnas 'genre' y 'cast' en listas
df['genre'] = df['genre'].apply(lambda x: x.split(', '))
df['cast'] = df['cast'].apply(lambda x: x.split(', '))

In [12]:
df.dtypes

title          object
rating        float64
meta_score    float64
genre          object
year            int64
cast           object
director       object
dtype: object

## DataFrame con los beneficios que han dado las películas

In [13]:
revenue_df = pd.read_csv('revenue_movies_dataset.csv') # read csv file

In [14]:
def clean_title(title):
    # Convertir a minúsculas
    title = title.lower()
    # Eliminar espacios en blanco al principio y al final
    title = title.strip()
    # Reemplazar caracteres especiales (opcional, depende de tus datos)
    title = title.replace("'", "")  # Eliminar apóstrofes
    title = title.replace(":", "")  # Eliminar dos puntos
    return title

# Aplicar la función de limpieza en ambas columnas 'title'
df['title'] = df['title'].apply(clean_title)
revenue_df['title'] = revenue_df['title'].apply(clean_title)

In [16]:
revenue_df.drop_duplicates(subset='title', inplace=True)

In [17]:
# Unir df original con el revenue_df
df_merged = pd.merge(df, revenue_df, on='title', how='inner')

# Ver los primeros resultados del DataFrame unido
df_merged.head(20)

,title,rating,meta_score,genre,year,cast,director,revenue
0,leave the world behind,6.5,67.0,"[Drama, Mystery, Thriller]",2023,"[Julia Roberts, Mahershala Ali, Ethan Hawke, M...",Sam Esmail,0
1,wonka,7.4,66.0,"[Adventure, Comedy, Family]",2023,"[Timothée Chalamet, Gustave Die, Murray McArth...",Paul King,0
2,poor things,8.5,86.0,"[Comedy, Drama, Romance]",2023,"[Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy ...",Yorgos Lanthimos,0
3,killers of the flower moon,7.8,89.0,"[Crime, Drama, History]",2023,"[Leonardo DiCaprio, Robert De Niro, Lily Glads...",Martin Scorsese,0
4,may december,7.0,85.0,"[Comedy, Drama]",2023,"[Natalie Portman, Chris Tenzis, Charles Melton...",Todd Haynes,0
5,the hunger games the ballad of songbirds & snakes,7.1,54.0,"[Action, Adventure, Drama]",2023,"[Rachel Zegler, Tom Blyth, Viola Davis, Dexter...",Francis Lawrence,0
6,napoleon,6.6,64.0,"[Action, Adventure, Biography]",2023,"[Joaquin Phoenix, Vanessa Kirby, Tahar Rahim, ...",Ridley Scott,0
7,oppenheimer,8.4,89.0,"[Biography, Drama, History]",2023,"[Cillian Murphy, Emily Blunt, Matt Damon, Robe...",Christopher Nolan,933700000
8,love actually,7.6,55.0,"[Comedy, Drama, Romance]",2003,"[Hugh Grant, Martine McCutcheon, Liam Neeson, ...",Richard Curtis,244931766
9,candy cane lane,5.6,47.0,"[Comedy, Family, Fantasy]",2023,"[Eddie Murphy, Tracee Ellis Ross, Jillian Bell...",Reginald Hudlin,0
10,saltburn,7.5,61.0,"[Comedy, Drama, Thriller]",2023,"[Barry Keoghan, Jacob Elordi, Archie Madekwe, ...",Emerald Fennell,0
11,barbie,7.0,80.0,"[Adventure, Comedy, Fantasy]",2023,"[Margot Robbie, Ryan Gosling, Issa Rae, Kate M...",Greta Gerwig,1428545028
12,national lampoons christmas vacation,7.5,49.0,[Comedy],1989,"[Chevy Chase, Beverly D'Angelo, Juliette Lewis...",Jeremiah S. Chechik,71319546
13,rebel moon - part one a child of fire,6.3,32.0,"[Action, Adventure, Drama]",2023,"[Sofia Boutella, Charlie Hunnam, Ed Skrein, Je...",Zack Snyder,0
14,the family plan,6.3,40.0,"[Action, Comedy]",2023,"[Mark Wahlberg, Michelle Monaghan, Ciarán Hind...",Simon Cellan Jones,0
15,the holdovers,8.0,82.0,"[Comedy, Drama]",2023,"[Paul Giamatti, Da'Vine Joy Randolph, Dominic ...",Alexander Payne,0
16,family switch,5.6,37.0,"[Comedy, Family]",2023,"[Jennifer Garner, Ed Helms, Emma Myers, Brady ...",McG,0
17,indiana jones and the dial of destiny,6.6,58.0,"[Action, Adventure, Sci-Fi]",2023,"[Harrison Ford, Phoebe Waller-Bridge, Antonio ...",James Mangold,382891104
18,elf,7.1,66.0,"[Adventure, Comedy, Family]",2003,"[Will Ferrell, James Caan, Bob Newhart, Zooey ...",Jon Favreau,225097437
19,how the grinch stole christmas,6.3,46.0,"[Comedy, Family, Fantasy]",2000,"[Jim Carrey, Taylor Momsen, Kelley, Jeffrey Ta...",Ron Howard,345823040

In [32]:
df_merged.to_csv('top_movies_cleaned.csv', index=False)