In [2]:
import pandas as pd
import numpy as np
import ast

df = pd.read_csv('./data/top_movies_cleaned.csv') # read csv file

Create a DataFrame for the table in SQL with the cast id, name and gender:

In [3]:
df_act = pd.read_csv('./data/raw/API_cast_gender.csv') # read csv file
df_dir = pd.read_csv('./data/raw/API_dir_gender.csv') # read csv file

In [4]:
df_act['person_gender'] = df_act['person_gender'].replace({'Hombre': 'M', 'Mujer': 'F'})

In [5]:
df_act.rename(columns={'person_id': 'actor_id', 'person_name': 'actor_name', 'person_gender': 'actor_gender'}, inplace=True)

In [6]:
df_act.to_csv('./csv/actors.csv', index=False)

Create a DataFrame for the table in SQL with the director id, name and gender:

In [7]:
df_dir['person_gender'] = df_dir['person_gender'].replace({'Hombre': 'M', 'Mujer': 'F'})

In [8]:
df_dir.rename(columns={'person_id': 'director_id', 'person_name': 'director_name', 'person_gender': 'director_gender'}, inplace=True)

In [9]:
df_dir['director_gender'] = df_dir['director_gender'].replace('Lasse Hallstr√∂m', 'M')

In [10]:
df_dir['director_gender'] = df_dir['director_gender'].fillna('N')

In [11]:
df_dir.head(10)

   director_id    director_name director_gender
0            1    A.V. Rockwell               F
1            2    Aaron Horvath               M
2            3        Aaron Nee               M
3            4  Aaron Schneider               M
4            5      Adam Brooks               M
5            6       Adam Green               M
6            7       Adam McKay               M
7            8     Adam Randall               M
8            9    Adam Shankman               M
9           10     Adam Wingard               M

In [12]:
df_dir.to_csv('./csv/directors.csv', index=False)

Create he dataframe to the genres table, with the id and genre name:

In [13]:
df['genre'] = df['genre'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [14]:
all_genres = [genre for sublist in df['genre'] for genre in sublist]

unique_genres = pd.unique(np.array(all_genres))

genres_df = pd.DataFrame(unique_genres, columns=['genre_name'])

In [15]:
genres_df['genre_id'] = range(1, len(genres_df) + 1)

In [16]:
genres_df.to_csv('./csv/genres.csv', index=False)

Create the dataframe for 'movies'table with all the basic information with 'movie_id', 'title', 'rating', 'meta_score', 'year', 'revenue', 'director_id'

In [17]:
# Make a copy of the dataframe to avoid modifying the original data
movies_df = df[['title', 'rating', 'meta_score', 'year', 'revenue', 'director']].copy()

In [18]:
#Add the movie_id column
movies_df['movie_id'] = movies_df.index + 1

In [19]:
# Translate the director's name to director_id
movies_df = movies_df.merge(df_dir[['director_id', 'director_name']], left_on='director', right_on='director_name', how='left')

In [20]:
#Select only the columns we need
movies_df = movies_df[['movie_id', 'title', 'rating', 'meta_score', 'year', 'revenue', 'director_id']]

In [38]:
# Replace NaN values with 0
movies_df.fillna({'director_id': 0}, inplace=True)
movies_df['director_id'] = movies_df['director_id'].astype(int)

In [39]:
movies_df.sample(5)

,movie_id,title,rating,meta_score,year,revenue,director_id
683,684,city of angels,6.7,54.0,1998,198685114,102
859,860,the miracle club,6.3,49.0,2023,0,847
492,493,snatch,8.2,55.0,2000,83557872,314
1575,1576,raya and the last dragon,7.3,74.0,2021,130423032,0
33,34,a haunting in venice,6.5,63.0,2023,89800000,485

In [40]:
movies_df.to_csv('./csv/movies.csv', index=False)

Create dataframe for cast table with 'movie_id' and 'person_id':

In [24]:
df['cast'] = df['cast'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [25]:
cast_df = df.merge(movies_df[['movie_id', 'title']], how='left', left_on='title', right_on='title')

In [26]:
cast_df = cast_df[['movie_id', 'cast']].explode('cast').rename(columns={'cast': 'actor_name'})

In [27]:
cast_df = cast_df.merge(df_act, how='left', left_on='actor_name', right_on='actor_name')

In [28]:
cast_df = cast_df[['movie_id', 'actor_id']]

In [29]:
cast_df = cast_df.drop_duplicates(subset=['movie_id', 'actor_id'])

In [30]:
cast_df.to_csv('./csv/cast.csv', index=False)

Create a dataframe wich relates movies_id and genres_id

In [31]:
df['genre'] = df['genre'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

movies_genres_df = df.merge(movies_df[['movie_id', 'title']], how='left', left_on='title', right_on='title')

movies_genres_df = movies_genres_df[['movie_id', 'genre']].explode('genre').rename(columns={'genre': 'genre_name'})

movies_genres_df = movies_genres_df.merge(genres_df, how='left', left_on='genre_name', right_on='genre_name')

movies_genres_df = movies_genres_df[['movie_id', 'genre_id']]

In [32]:
movies_genres_df = movies_genres_df.drop_duplicates(subset=['movie_id', 'genre_id'])

In [33]:
movies_genres_df.to_csv('./csv/movies_genres.csv', index=False)

# TO SQL

In [34]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [35]:
from dotenv import load_dotenv
import os

load_dotenv()

password = os.getenv('password')

# Tus par√°metros de conexi√≥n
bd = "top_movies"
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'
engine = create_engine(connection_string)

In [36]:
dataframes = {"actors": df_act,
    "directors": df_dir,
    "genres": genres_df,
    "movies": movies_df,
    "cast": cast_df,
    "movies_genres": movies_genres_df}

In [37]:
# Sent each DataFrame to the database
for table_name, df in dataframes.items():
    df.to_sql(table_name, con=engine, if_exists='append', index=False)
    print(f"Datos insertados en la tabla {table_name}")

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'actors.PRIMARY'")
[SQL: INSERT INTO actors (actor_id, actor_name, actor_gender) VALUES (%(actor_id)s, %(actor_name)s, %(actor_gender)s)]
[parameters: [{'actor_id': 1, 'actor_name': '50 Cent', 'actor_gender': 'M'}, {'actor_id': 2, 'actor_name': 'AJ Michalka', 'actor_gender': 'F'}, {'actor_id': 3, 'actor_name': 'Aaron Burns', 'actor_gender': 'M'}, {'actor_id': 4, 'actor_name': 'Aaron Eckhart', 'actor_gender': 'M'}, {'actor_id': 5, 'actor_name': 'Aaron Heffernan', 'actor_gender': 'M'}, {'actor_id': 6, 'actor_name': 'Aaron Kingsley Adetola', 'actor_gender': 'M'}, {'actor_id': 7, 'actor_name': 'Aaron Paul', 'actor_gender': 'M'}, {'actor_id': 8, 'actor_name': 'Aaron Pierre', 'actor_gender': 'M'}  ... displaying 10 of 3323 total bound parameter sets ...  {'actor_id': 3322, 'actor_name': 'Zo√© De Grand Maison', 'actor_gender': 'F'}, {'actor_id': 3323, 'actor_name': 'Zo√´ Kravitz', 'actor_gender': 'F'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)